## –†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ SQL-—Å–∫—Ä–∏–ø—Ç–∞

In [1]:
import pandas as pd
import seaborn as sns
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
import configparser

# –ó–∞–≥—Ä—É–∑–∫–∞ –∏ —á—Ç–µ–Ω–∏–µ –∫–æ–Ω—Ñ–∏–≥ —Ñ–∞–π–ª–∞
config = configparser.ConfigParser()
config.read('config_rfm.ini')
db_params = config['postgresql']

connection_string = f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —á–µ—Ä–µ–∑ %sql
%load_ext sql
%sql $connection_string

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm_status**, –≤ –∫–æ—Ç–æ—Ä—É—é —Å–æ–±–∏—Ä–∞–µ–º –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã–µ:
- –í—ã–±–∏—Ä–∞–µ–º –∫–æ–ª–æ–Ω–∫—É —Å –Ω–æ–º–µ—Ä–∞–º–∏ –∫–∞—Ä—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π card, –¥–∞–µ–º –µ–π –Ω–∞–∑–≤–∞–Ω–∏–µ **customer**.
- –°—á–∏—Ç–∞–µ–º –æ–±—â—É—é —Å—É–º–º—É –ø—Ä–æ–¥–∞–∂ –ø–æ –∫–∞–∂–¥–æ–π –∫–∞—Ä—Ç–µ –ø–æ –ø–æ–ª—é summ_with_disc, –¥–∞–µ–º –Ω–∞–∑–≤–∞–Ω–∏–µ **monetary**.
- –ü–æ –∫–∞–∂–¥–æ–π –∫–∞—Ä—Ç–µ —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π - –ø–æ–ª–µ **frequency**.
- –ù–∞—Ö–æ–¥–∏–º –¥–∞—Ç—É —Å–∞–º–æ–≥–æ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –∑–∞–∫–∞–∑–∞ –ø–æ –∫–∞–∂–¥–æ–º—É –∫–ª–∏–µ–Ω—Ç—É - **most_recent_customer_order_date**.
- –í—ã—á–∏—Å–ª—è–µ–º –¥–∞—Ç—É —Å–∞–º–æ–≥–æ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –∑–∞–∫–∞–∑–∞ –ø–æ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–π –±–∞–∑–µ - **last_order_date**.
- –ï—Å–ª–∏ –≤ –º–æ–º–µ–Ω—Ç –ø–æ–∫—É–ø–∫–∏ –∫–∞—Å—Å–∞ –±—ã–ª–∞ –≤ –æ—Ñ—Ñ–ª–∞–π–Ω-—Ä–µ–∂–∏–º–µ, —Ç–æ –≤–º–µ—Å—Ç–æ –Ω–æ–º–µ—Ä–∞ –∫–∞—Ä—Ç—ã –∑–∞–ø–∏—Å—ã–≤–∞–µ—Ç—Å—è –∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω–∞—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Å–∏–º–≤–æ–ª–æ–≤. –û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤—ã–≤–∞–µ–º —Ä–µ–∞–ª—å–Ω—ã–µ –Ω–æ–º–µ—Ä–∞ –∫–∞—Ä—Ç (–∏–º–µ—é—Ç –¥–ª–∏–Ω—É 13 —Å–∏–º–≤–æ–ª–æ–≤).

In [3]:
%%sql
drop table if exists rfm_status;
create temp table rfm_status as
select card as customer,
	sum(summ_with_disc) as monetary,
	count(card) as frequency,
	date_trunc('day', max(datetime)) as most_recent_customer_order_date,
	(select date_trunc('day', max(datetime)+interval '1' day) as last_order_date
		from bonuscheques
		order by 1 desc
		limit 1) as most_recent_order_date
from bonuscheques
where length(card) = 13
group by card
order by 2 desc;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
5926 rows affected.

[]

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm**, –≤ –∫–æ—Ç–æ—Ä–æ–π:
 - –í—ã–±–∏—Ä–∞–µ–º –∫–æ–ª–æ–Ω–∫–∏ customer, monetary, frequency, most_recent_customer_order_date –∏ most_recent_order_date –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Ç–∞–±–ª–∏—Ü—ã.  
 - –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫—É recency –∫–∞–∫ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É —Å–ª–µ–¥—É—é—â–∏–º –¥–Ω–µ–º –æ—Ç –ø–æ—Å–ª–µ–¥–Ω–µ–π –¥–∞—Ç—ã –∑–∞–∫–∞–∑–∞ –ø–æ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–º—É –¥–∞—Ç–∞—Å–µ—Ç—É (–ø–æ–ª–µ most_recent_customer_order_date) –∏ –¥–∞—Ç–æ–π –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –∑–∞–∫–∞–∑–∞ –∫–∞–∂–¥–æ–≥–æ –∫–ª–∏–µ–Ω—Ç–∞ (–ø–æ–ª–µ last_order_date). 
 - –ò—Å–∫–ª—é—á–∞–µ–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –º–µ—Ç—Ä–∏–∫–∏ frequency 3‚àóùêºùëÑùëÖ. —Å–º. —Ä–∞–∑–¥–µ–ª EDA.

In [4]:
%%sql
drop table if exists rfm;
create temp table rfm as
select
	customer,
	monetary,
	frequency,
	most_recent_customer_order_date,
	most_recent_order_date,
	date_part('day', most_recent_order_date - most_recent_customer_order_date) as Recency
from rfm_status
where frequency <= 13
group by 1, 2, 3, 4, 5, 6
order by 2 desc;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
5690 rows affected.

[]

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm_calculation_ntile**, –≤ –∫–æ—Ç–æ—Ä–æ–π:
- –í—ã–±–∏—Ä–∞–µ–º –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Ç–∞–±–ª–∏—Ü—ã.  
- –ü—Ä–æ–≤–æ–¥–∏–º —Å–µ–≥–º–µ–Ω—Ç–∞—Ü–∏—é –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –º–µ—Ç—Ä–∏–∫–∞–º recency, frequency –∏ monetary.   
–£—Å—Ç–∞–Ω–æ–≤–ª–∏–≤–∞–µ–º –≥—Ä–∞–Ω–∏—Ü—ã —Å–µ–≥–º–µ–Ω—Ç–æ–≤ –ø–æ –∫–≤–∞—Ä—Ç–∏–ª—è–º –≤ 25% –∏ 75%.

In [5]:
%%sql
drop table if exists rfm_calculation_ntile;
create temp table rfm_calculation_ntile as
select rfm.*,
	case when recency <= 34 then 3
      when recency between 35 and 187 then 2
      when recency >= 188 then 1
  end as rfm_recency,
  case when frequency <= 1 then 1
      when frequency between 2 and 3 then 2
      when frequency >= 4 then 3
  end as rfm_frequency,
  case when monetary <= 700 then 1
      when monetary between 701 and 3261 then 2
      when monetary >= 3262 then 3
  end as rfm_monetary
from rfm;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
5690 rows affected.

[]

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm_calculation_ntile**, –≤ –∫–æ—Ç–æ—Ä–æ–π:  
- –í—ã–±–∏—Ä–∞–µ–º –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Ç–∞–±–ª–∏—Ü—ã.  
- –§–æ—Ä–º–∏—Ä—É–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã, –ø—Ä–∏—Å–≤–∞–∏–≤–∞–µ–º –∫–æ–º–±–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã–π RFM-–∫–æ–¥.

In [6]:
%%sql
drop table if exists rfm_value_points;
create temp table rfm_value_points as
select
	rcn.*,
	(rcn.rfm_recency + rcn.rfm_frequency + rcn.rfm_monetary) as rfm_value,
	cast(rcn.rfm_recency as varchar) || cast(rcn.rfm_frequency as varchar) || cast(rcn.rfm_monetary as varchar) as rfm_points
from rfm_calculation_ntile as rcn;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
5690 rows affected.

[]

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm_customer_categories**, –≤ –∫–æ—Ç–æ—Ä–æ–π:  
- –í—ã–±–∏—Ä–∞–µ–º –∫–æ–ª–æ–Ω–∫–∏ customer_card –∏ rfm_points –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Ç–∞–±–ª–∏—Ü—ã.  
- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

In [7]:
%%sql
drop table if exists rfm_customer_categories;
create temp table rfm_customer_categories as
select
	rfmm.customer as customer_card,
	rfmm.rfm_points,
	case
		when rfmm.rfm_points in ('333', '233') then 'Champions'
		when rfmm.rfm_points in ('332', '331', '223', '323') then 'Loyal'
		when rfmm.rfm_points in ('322', '232', '231') then 'Potential_Loyalist'
		when rfmm.rfm_points in ('311', '211') then 'New Customers'
		when rfmm.rfm_points in ('221', '321', '313', '312', '222', '213', '212') then 'Promising'
		when rfmm.rfm_points in ('131', '122', '121') then 'At_Risk'
		when rfmm.rfm_points in ('133', '132', '113', '123') then 'Cannot_Lose_Them'
		when rfmm.rfm_points in ('112', '111') then 'Hibernating_customers'
	end as rfm_categories
from rfm_value_points as rfmm;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
5690 rows affected.

[]

C–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É **rfm_stat**, –≤ –∫–æ—Ç–æ—Ä–æ–π:
- –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∏ –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –º–µ—Ç—Ä–∏–∫.
- –§–æ—Ä–º–∏—Ä—É–µ–º —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ –∫–∞–∂–¥–æ–º—É –∏—Ç–æ–≥–æ–≤–æ–º—É —Å–µ–≥–º–µ–Ω—Ç—É.

In [8]:
%%sql
drop table if exists rfm_stat;
create temp table rfm_stat as
select cc.rfm_categories,
  min(Recency) as min_R, max(Recency) as max_R,
  min(frequency) as min_F, max(frequency) as max_F,
  round(percentile_cont(0.5) within group (order by monetary asc)) as mean_M,
  count(customer) as cnt
from rfm_customer_categories as cc
join rfm as r
on cc.customer_card = r.customer
group by cc.rfm_categories
;

 * postgresql://student:***@95.163.241.236:5432/apteka
Done.
8 rows affected.

[]

In [9]:
df_rfm_stat = %sql select * from rfm_stat;
df_rfm_stat = df_rfm_stat.DataFrame()

 * postgresql://student:***@95.163.241.236:5432/apteka
8 rows affected.

**–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —Å–µ–≥–º–µ–Ω—Ç–∞–º:**

In [10]:
df_rfm_stat.sort_values(by='mean_m', ascending=False)

          rfm_categories  min_r  max_r  min_f  max_f  mean_m   cnt
2              Champions    1.0  186.0      4     13  5802.0   842
1       Cannot_Lose_Them  189.0  329.0      1     12  3922.0   172
4                  Loyal    1.0  187.0      2     10  3558.0   371
6     Potential_Loyalist    1.0  185.0      2     11  1886.0   558
7              Promising    1.0  187.0      1      3  1278.0  1770
0                At_Risk  188.0  327.0      2      3  1266.0   277
3  Hibernating_customers  188.0  333.0      1      1   718.0   969
5          New Customers    1.0  187.0      1      1   451.0   731